In [22]:
import pandas as pd

# Archivo separado por comas
df_mat = pd.read_csv('student-mat.csv', sep=';')
df_por = pd.read_csv('student-por.csv', sep=';')

In [23]:
# Intentamos unificar los datos por student_id, para limpiar el dataframe

df_por_clave = df_por.drop(columns=['G1', 'G2', 'G3', 'absences'])
df_math_clave = df_mat.drop(columns=['G1', 'G2', 'G3', 'absences'])

df_por_clave['clave'] = df_por_clave.apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df_math_clave['clave'] = df_math_clave.apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

# Crear un student_id para cada estudiante en df_por
df_por['student_id'] = range(1, len(df_por) + 1)

# Crear un diccionario de mapeo de la clave al student_id en df_por
clave_a_id = dict(zip(df_por_clave['clave'], df_por['student_id']))

# Asignar student_id a df_mat usando la clave, dejando NaN donde no hay match
df_mat['student_id'] = df_math_clave['clave'].map(clave_a_id)

# Asignar un id nuevo a los estudiantes sin coincidencia en df_mat
max_id = df_por['student_id'].max()
df_mat['student_id'] = df_mat.apply(
    lambda row: row['student_id'] if pd.notna(row['student_id']) else max_id + row.name + 1, axis=1)

In [24]:
df_mat = df_mat.rename(columns={'absences': 'absences_math', 'G3': 'math_score'})
column_order = ['student_id'] + [col for col in df_mat.columns if col != 'student_id']
df_mat = df_mat[column_order]

df_mat = df_mat.drop(columns=['reason', 'guardian', 'higher', 'goout','health', 'G1','G2'])

duplicados = df_mat.duplicated()
num_duplicados = duplicados.sum()

num_duplicados

0

In [25]:
df_por = df_por.rename(columns={'absences': 'absences_por', 'G3': 'por_score'})
column_order = ['student_id'] + [col for col in df_por.columns if col != 'student_id']
df_por = df_por[column_order]

df_por = df_por.drop(columns=['reason', 'guardian', 'higher', 'goout','health', 'G1','G2'])

duplicados = df_por.duplicated()
num_duplicados = duplicados.sum()

num_duplicados

0

In [26]:
df_por

,student_id,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,activities,nursery,internet,romantic,famrel,freetime,Dalc,Walc,absences_por,por_score
0,1,GP,F,18,U,GT3,A,4,4,at_home,...,no,yes,no,no,4,3,1,1,4,11
1,2,GP,F,17,U,GT3,T,1,1,at_home,...,no,no,yes,no,5,3,1,1,2,11
2,3,GP,F,15,U,LE3,T,1,1,at_home,...,no,yes,yes,no,4,3,2,3,6,12
3,4,GP,F,15,U,GT3,T,4,2,health,...,yes,yes,yes,yes,3,2,1,1,0,14
4,5,GP,F,16,U,GT3,T,3,3,other,...,no,yes,no,no,4,3,1,2,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,645,MS,F,19,R,GT3,T,2,3,services,...,yes,no,yes,no,5,4,1,2,4,10
645,646,MS,F,18,U,LE3,T,3,1,teacher,...,no,yes,yes,no,4,3,1,1,4,16
646,647,MS,F,18,U,GT3,T,1,1,other,...,yes,yes,no,no,1,1,1,1,6,9
647,648,MS,M,17,U,LE3,T,3,1,services,...,no,no,yes,no,2,4,3,4,6,10
648,649,MS,M,18,R,LE3,T,3,2,services,...,no,no,yes,no,4,4,3,4,4,11

In [27]:
# Concatenar los DataFrames
df_combined = pd.concat([df_por, df_mat]).sort_values(by='student_id')
df_combined.head()

,student_id,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,internet,romantic,famrel,freetime,Dalc,Walc,absences_por,por_score,absences_math,math_score
0,1.0,GP,F,18,U,GT3,A,4,4,at_home,...,no,no,4,3,1,1,4.0,11.0,NaN,NaN
0,1.0,GP,F,18,U,GT3,A,4,4,at_home,...,no,no,4,3,1,1,NaN,NaN,6.0,6.0
1,2.0,GP,F,17,U,GT3,T,1,1,at_home,...,yes,no,5,3,1,1,NaN,NaN,4.0,6.0
1,2.0,GP,F,17,U,GT3,T,1,1,at_home,...,yes,no,5,3,1,1,2.0,11.0,NaN,NaN
2,3.0,GP,F,15,U,LE3,T,1,1,at_home,...,yes,no,4,3,2,3,6.0,12.0,NaN,NaN

In [28]:
cols_to_fill = ['absences_por', 'por_score', 'absences_math', 'math_score']

# Reemplazamos valores NaN con el valor máximo dentro del grupo de cada student_id
for col in cols_to_fill:
    df_combined[col] = df_combined.groupby('student_id')[col].transform(lambda x: x.fillna(x.max()))

df_combined = df_combined.drop_duplicates()

df_combined=df_combined.reset_index(drop=True)

In [29]:
df_combined

,student_id,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,internet,romantic,famrel,freetime,Dalc,Walc,absences_por,por_score,absences_math,math_score
0,1.0,GP,F,18,U,GT3,A,4,4,at_home,...,no,no,4,3,1,1,4.0,11.0,6.0,6.0
1,2.0,GP,F,17,U,GT3,T,1,1,at_home,...,yes,no,5,3,1,1,2.0,11.0,4.0,6.0
2,3.0,GP,F,15,U,LE3,T,1,1,at_home,...,yes,no,4,3,2,3,6.0,12.0,NaN,NaN
3,4.0,GP,F,15,U,GT3,T,4,2,health,...,yes,yes,3,2,1,1,0.0,14.0,NaN,NaN
4,5.0,GP,F,16,U,GT3,T,3,3,other,...,no,no,4,3,1,2,0.0,13.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,1038.0,MS,F,18,U,LE3,T,3,1,teacher,...,yes,no,4,3,1,1,NaN,NaN,0.0,8.0
878,1039.0,MS,F,18,U,GT3,T,1,1,other,...,no,no,1,1,1,1,NaN,NaN,0.0,0.0
879,1040.0,MS,M,20,U,LE3,A,2,2,services,...,no,no,5,5,4,5,NaN,NaN,11.0,9.0
880,1042.0,MS,M,21,R,GT3,T,1,1,other,...,no,no,5,5,3,3,NaN,NaN,3.0,7.0
881,1044.0,MS,M,19,U,LE3,T,1,1,other,...,yes,no,3,2,3,3,NaN,NaN,5.0,9.0

In [30]:
df_combined.to_csv('df_limpito_EDA.csv')

In [31]:
for column in df_combined.columns:
    # Obtiene los valores únicos y sus frecuencias
    unique_values_counts = df_combined[column].value_counts(dropna=False)
    
    # Imprime el nombre de la columna
    print(f"Columna: {column}")
    # Imprime los valores únicos y sus conteos
    print(unique_values_counts)
    print("\n")

Columna: student_id
student_id
1.0       1
593.0     1
582.0     1
583.0     1
584.0     1
         ..
298.0     1
299.0     1
300.0     1
301.0     1
1044.0    1
Name: count, Length: 882, dtype: int64


Columna: school
school
GP    630
MS    252
Name: count, dtype: int64


Columna: sex
sex
F    511
M    371
Name: count, dtype: int64


Columna: age
age
16    236
17    232
18    195
15    154
19     52
20      9
21      3
22      1
Name: count, dtype: int64


Columna: address
address
U    635
R    247
Name: count, dtype: int64


Columna: famsize
famsize
GT3    618
LE3    264
Name: count, dtype: int64


Columna: Pstatus
Pstatus
T    778
A    104
Name: count, dtype: int64


Columna: Medu
Medu
4    252
2    244
3    198
1    180
0      8
Name: count, dtype: int64


Columna: Fedu
Fedu
2    285
1    222
3    188
4    179
0      8
Name: count, dtype: int64


Columna: Mjob
Mjob
other       334
services    204
at_home     168
teacher     107
health       69
Name: count, dtype: int64


Columna: Fjob
Fjob
other       500
services    246
at_home      54
teacher      47
health       35
Name: count, dtype: int64


Columna: traveltime
traveltime
1    519
2    278
3     65
4     20
Name: count, dtype: int64


Columna: studytime
studytime
2    427
1    268
3    135
4     52
Name: count, dtype: int64


Columna: failures
failures
0    714
1    108
2     33
3     27
Name: count, dtype: int64


Columna: schoolsup
schoolsup
no     786
yes     96
Name: count, dtype: int64


Columna: famsup
famsup
yes    561
no     321
Name: count, dtype: int64


Columna: paid
paid
no     673
yes    209
Name: count, dtype: int64


Columna: activities
activities
no     453
yes    429
Name: count, dtype: int64


Columna: nursery
nursery
yes    707
no     175
Name: count, dtype: int64


Columna: internet
internet
yes    699
no     183
Name: count, dtype: int64


Columna: romantic
romantic
no     558
yes    324
Name: count, dtype: int64


Columna: famrel
famrel
4    443
5    233
3    141
2     37
1     28
Name: count, dtype: int64


Columna: freetime
freetime
3    342
4    238
2    149
5     95
1     58
Name: count, dtype: int64


Columna: Dalc
Dalc
1    606
2    173
3     57
4     25
5     21
Name: count, dtype: int64


Columna: Walc
Walc
1    327
2    204
3    170
4    119
5     62
Name: count, dtype: int64


Columna: absences_por
absences_por
0.0     244
NaN     233
2.0     110
4.0      93
6.0      49
8.0      42
10.0     21
1.0      12
12.0     12
5.0      12
16.0     10
14.0      8
3.0       7
9.0       7
11.0      5
18.0      3
7.0       3
21.0      2
15.0      2
22.0      2
26.0      1
30.0      1
13.0      1
24.0      1
32.0      1
Name: count, dtype: int64


Columna: por_score
por_score
NaN     233
11.0    104
10.0     97
13.0     82
12.0     72
14.0     63
15.0     49
16.0     36
8.0      35
9.0      35
17.0     29
18.0     15
0.0      15
7.0      10
6.0       3
19.0      2
1.0       1
5.0       1
Name: count, dtype: int64


Columna: absences_math
absences_math
NaN     487
0.0     115
2.0      65
4.0      53
6.0      31
8.0      22
10.0     17
14.0     12
12.0     12
3.0       8
16.0      7
7.0       7
18.0      5
5.0       5
20.0      4
15.0      3
9.0       3
11.0      3
13.0      3
1.0       3
22.0      3
38.0      1
40.0      1
19.0      1
30.0      1
21.0      1
23.0      1
75.0      1
26.0      1
54.0      1
25.0      1
28.0      1
24.0      1
56.0      1
17.0      1
Name: count, dtype: int64


Columna: math_score
math_score
NaN     487
10.0     56
11.0     47
0.0      38
15.0     33
8.0      32
13.0     31
12.0     31
9.0      28
14.0     27
16.0     16
6.0      15
18.0     12
7.0       9
5.0       7
17.0      6
19.0      5
20.0      1
4.0       1
Name: count, dtype: int64

In [32]:
# Continuando con la normalización:

# Cambiar el nombre de la columna 'famsize' a 'famsize_GT3'
df_combined = df_combined.rename(columns={'famsize': 'famsize_GT3'})

# Reemplazar los valores en la columna 'famsize_GT3'
df_combined['famsize_GT3'] = df_combined['famsize_GT3'].replace({'GT3': 'yes', 'LE3': 'no'})

# Familias con más de tres miembros pasan a ser 'yes', y con menos de 3 miembros, 'no'.

## ¿Hacemos lo mismo con Pstatus, scshool, address y sex?

In [ ]:
# hoooolaaaaa